# functions:

In [1]:
# simple to define
# code reusability

    -syntax
        -def function_name(arguments):
            -statements
            -return or print

In [6]:
# input : 1234
# output:6 
def sumofeven(n):
    sum=0
    while n!=0:
        i=n%10            #1234%10
        if(i%2==0):
            sum=sum+i
        n=n//10
    print(sum)
sumofeven(1234)

6

In [13]:
# input :19535
# ouput: 9
# extract the biggest digit from a given number
def biggestnum(n):
    large=0
    while n!=0:
        r=n%10
        if large<r:
            large=r
        n=n//10
    return large       # we can return multiple values using return
l=biggestnum(19535)       #string the result of the function into l
l                         #printing the value of l

9

In [16]:
# extract the biggest digit from a given number
def biggestnum(n):
    n=int(input("enter any number"))
    large=0
    while n!=0:
        r=n%10
        if large<r:
            large=r
        n=n//10
    return large # we can return multiple values using return
biggestnum(n)

enter any number123

3

In [17]:
# factorial of a number
# strong number: 145= 1!+4!+5!=145
# palindrome

## Collection types:

    -1.list
    -2.tuple
    -3.set
    -4.dictionary

## list
    -one of the datasctructures available in python
    -list is enclosed in []
    -elements in list are separated by a comma(,)

In [20]:
list1=[1,1.2,"abc"]
print(list1)
type(list1)

[1, 1.2, 'abc']

list

In [39]:
#indexing
l=[1,4,6,9,2,3,7] #1-index -0 , 4- index - 2,......(positive indexing)
print(l[0])
print(l[3])
print(l[-1]) #negative indexing from right to left


#slicing -- for printing a range of numbers
print(l[1:4]) #left inclusive and right exclusive


#skipping
print(l[0:4:2]) # index 0 to 4 and skip 2 
print(l[0:-1:2])
print(l[-1:]) #if there is no stop range , the starting range is printed until the last
print(l[-3:])
print(l[::2]) #only skip value is given and start and stop range isn't given

1
9
7
[4, 6, 9]
[1, 6]
[1, 6, 2]
[7]
[2, 3, 7]
[1, 6, 2, 7]

In [5]:
## basic functions of list:
l=[1, 5, 6, 3, 2]
print(max(l)) #prints maximum number
print(min(l))
print(sum(l))
print(len(l))
print(sum(l)/len(l))       #average

6
1
17
5
3.4

In [15]:
# operations on lists
l=[1, 5, 6, 3, 2]
l[0]="python"   #updating
del l[3] #deleting, for deleting whole list "del l"
l

['python', 5, 6, 2]

In [19]:
# Basic list oprations:
l=[2,6,4,5]
print(l*2) #replicating the list twice(repition operator)
print(2 in l) #membership operator
print(9 not in l)
print(2 not in l)

[2, 6, 4, 5, 2, 6, 4, 5]
True
True
False

In [32]:
# To access the elements through iterations
print(l)
for i in l: #for loop is used
    print(i, end=" ")

[2, 6, 4, 5]
2 6 4 5

In [33]:
range(len(l))

range(0, 4)

In [37]:
for i in range(len(l)):
    print(l[i]) #displaying the numbers in the index i

2
6
4
5

In [42]:
# list methods:
l1=[2,4,6,8]
l1.append("python") #adding to the end of the list
print(l1)

[2, 4, 6, 8, 'python']

In [46]:
l1.insert(1,"gitam") #inserting value at a particular index
print(l1)

[2, 'gitam', 'gitam', 'gitam', 'gitam', 4, 6, 8, 'python']

In [50]:
l1.count(6) #returns the count of the value

1

In [52]:
l1.index('gitam') #finding the index of a given value

1

In [53]:
l1.pop() #removes the last value present in the list
l1

[2, 'gitam', 'gitam', 4, 6, 8]

In [57]:
l1.pop(1) #removing the value of specified index
l1

[2, 4, 6, 8]

In [58]:
l
\

[2, 4, 5, 'python', 'python', 'python']

In [59]:
del l

In [63]:
l=[2,5,7,1]
print(l)
li=["abc","gitam"]
print(li)
l.extend(li)        #to add all the list to another list
l

[2, 5, 7, 1]
['abc', 'gitam']

[2, 5, 7, 1, 'abc', 'gitam']

In [64]:
del l

In [66]:
l=[3,78,54,12,54]
print(l)
l.sort()     #for sorting in ascending order
print(l)

[3, 78, 54, 12, 54]
[3, 12, 54, 54, 78]

In [67]:
# reverse
print(l)
l.reverse() #printing the  list in reverse order
print(l)

[3, 12, 54, 54, 78]
[78, 54, 54, 12, 3]

In [71]:
# function to print the biggest number from the list
l2=[]     #declaring a list
l2=input("enter the list:")
print(max(l2))

enter the list:1456
6

In [72]:
#another
def largenum(l):
    l.sort()
    return l[-1]
l=[1,2,3,4,5]
largenum(l)

5

In [74]:
#to get the nth largest number
def largenum(l,n):
    l.sort()
    return l[n]
l=[1,2,3,4,5]
largenum(l,-3) #to print 3rd largest number

3

In [75]:
# to print minimum value

## Tuples:
        -tuples are enclosed in paranthesis
        -tuples are immutable( values inside a tuple can't be changed)
        -only for read-only
        -modifications are not possible in tuples
## Difference between tuple and list:
        -list can be modified whereas a tuple cant be modified
        - only indexing and slicing can be used in tuples whereas other functions can also be used in tuples
        -list->[]  tuples->()
        - list is mutable whereas tuple is immutable
        -tuples work faster than list

In [77]:
t1=(1,6.45,"python")   #hetero-data-typed
print(t1)
print(type(t1))

(1, 6.45, 'python')
<class 'tuple'>

In [79]:
t1[0:2]   #slicing

(1, 6.45)

In [80]:
del t1

In [82]:
t1=(1,6.45,"python")

## Strings:
        -enclosed in '' or ""

In [89]:
s="python"
print(s[0])
print(s[0:4])     #slicing
print(s[0:5:2])   #skipping
print(s[::-1])    #reversing the string

p
pyth
pto
nohtyp

In [5]:
# function to check whther the string is palindrome or not
def palindrome(s):
    if s==s[::-1]:
        print("palindrome")
    else:
        print("not a palindrome")
palindrome("mom")

palindrome

## string methods:

In [6]:
s1="python"
print(",".join(s1))

p,y,t,h,o,n

In [7]:
#split: by spaces
s3="karthik is my boyfriend"
print(s3.split())

['karthik', 'is', 'my', 'boyfriend']

In [8]:
#split:  by occurence of i
s3="karthik is my boyfriend"
print(s3.split('i'))

['karth', 'k ', 's my boyfr', 'end']

In [9]:
#replace
s3
print(s3.replace("karthik","marupeddi"))    #old value is replaced with new value

marupeddi is my boyfriend