![.](jb.jpg) #inserting image as markdown

![](C:\Users\Srinaja\Desktop\crt.jpg)

# insert link as markdown-- [hyper link](link address)

[Github](https://github.com/)

# loops
1. while
2. for

    -Syntax: for conditioned iteratives
        -while condition:
            -statement

In [14]:
# print the numbers from 1to 20 using while loop

In [17]:
a=1
while(a<=20):
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [22]:
# another program
n=int(input("enter the number"))
i=1
while(i<=n):
    print(i, end=" ") # print in horizontal line
    i=i+1

enter the number3
1 2 3

In [23]:
# input as 10 , output as 30 even digit sum

In [3]:
n=int(input("enter the number"))
i=1
sum=0
while i<=n:
    if(i%2==0):
        sum=sum+i
    i=i+1
print(sum)

enter the number10
30

In [4]:
# reverse order print

# for loop for specific number of iterations
    -syntax
            for var_name in range():
            -statement
            for var_name in iterable_obj:
            -statement

In [10]:
 # range(start,stop,step) always right exclusive and left inclusive

In [6]:
a=range(1,10)
a

range(1, 10)

In [11]:
for i in range(1,10,3):
    print(i)

1
4
7

In [13]:
for i in "python": # initial i value will be set to the first variable
    print(i)

p
y
t
h
o
n